@import './scss/_mixins.scss';

body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  // font-size: calc(12px + 4 * ((100vw - 320px) / (1280 - 320)));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-image: url('./images/wall.jpg');
}

p {
  margin: 0;
}

.App {
  @include centeredFlex($fd: column);
  margin-top: 0.5em;
  font-family: 'Open Sans', sans-serif;
}

.weather-card {
  box-sizing: border-box;
  border-radius: 50px;
  padding: 1em;
  width: 90vw;
  min-height: 65vh;
  margin: 2em;
  background: rgba(255, 255, 255, 0.4);
  // background-color: white;

  @include for-size(mobile-only) {
    font-size: 1em;
  }

  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

  &__data {
    .title {
      margin-top: 1.5em;
      text-align: center;
      font-size: 1.5em;
      font-weight: bold;
      color: dodgerblue;
    }

    .date,
    .day {
      display: flex;
      justify-content: center;
      padding-top: 1em;
      color: red;
      font-size: 1em;
    }

    .description-wrapper {
      @include flexible;
      margin-top: 1.5em;

      .weather {
        font-size: medium;
        font-weight: bolder;
        text-transform: capitalize;
      }
    }

    .temp-wrapper {
      @include flexible;
      margin: 0em 1em 1em 1em;
      font-size: 2em;

      .main-temp {
        font-size: 3.5em;
        font-weight: bolder;
        text-align: center;
      }

      .utilities {
        position: relative;

        &__grad {
          position: absolute;
          top: -1em;
          left: 0em;
          font-size: 2em;
          font-weight: bold;
        }
        &__celsium {
          position: absolute;
          top: 0.2em;
          left: 0.1em;
          color: lightslategray;
        }
      }
      .temp {
        font-size: 0.5em;
      }
    }
    .info-wrapper {
      @include centeredFlex($jc: space-evenly);

      .option-wrapper {
        margin: 2em 1em;
      }

      .wind,
      .humidity {
        font-size: medium;
        font-weight: bolder;
      }
    }

    .sun-time {
      @include centeredFlex($jc: space-evenly);
      font-size: 1.2em;
    }
  }
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-bar {
  color: white !important;
  font-family: 'Lateef', cursive !important;
  font-size: 24px !important;
}
